<li todo-id="{{ todo.pk }}" class="list-group-item" style="color: #8590a6">{{ todo.create_date.date|date:'Y-m-d' }}
    &nbsp;|&nbsp; {{ todo }}
    <span class="glyphicon glyphicon-remove remove-todo"></span>
    &nbsp; <span class="glyphicon glyphicon-edit edit-todo" data-toggle="modal" data-target="#{{ todo.pk }}"></span>
    <div class="modal fade" id="{{ todo.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑</h4>
                </div>
                <div class="modal-body">
                    <form role="form" method="post" action="{% url 'todoUpdate' todo.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" id="todo" name="todo" required>{{ todo }}</textarea>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</li>