{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'css/todoapp.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
    <script src="{% static 'js/Todo.js' %}"></script>
{% endblock %}

{% block main %}
    <ul class="list-group">
        {% for todo in results %}
            {% include 'Todo/_task.html' with todo=todo %}
        {% endfor %}
    </ul>
{% endblock %}

{% block right %}
    <center><h3>搜索结果</h3></center>
{% endblock %}